@import "tailwindcss";

:root {
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #242424;
}

.span-with-hover-zone {
  position: relative;
  display: inline;
}

.span-with-hover-zone::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  pointer-events: auto;
  /* For debugging */
  background: rgba(255, 0, 0, 0.1);
}

@theme {
  /* Colors */
  --color-primary: #003054;
  --color-primaryHover: #104d7c;
  --color-primaryButton: #043f6d;
  --color-onPrimary: #FFFFFF;
  --color-secondary: #4F6074;
  --color-tertiary: #004E3D;
  --color-tertiaryHover: #125c4c;
  --color-onTertiary: #FFFFFF;
  --color-container: #D0E1F9;
  --color-tertiaryContainer: #98E4C9;
  --color-background: #F9F9FD;
  --color-onBackground: #191C1F;
  --color-outline: #838a97;
  --color-tertiaryContainerHover: #6ed8b3;
}
